* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}

body {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10fr;
  grid-template-areas: "lateral-esquerda conteudo-principal";
  font-family: Sans-serif;
  color: #ffffff;
  height: 1100px;
}

.lateral-esquerda {
  background-color: #2b2741;
  grid-area: lateral-esquerda;
}

.photo-author {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-left: 30px;
  margin-top: 20px;
}

.contact-author {
  margin-left: 50px;
  margin-top: 35px;
  /* color: #fff; */
  font-family: "Puritan";
  letter-spacing: 0.02em;
  font-size: 20px;
}

.contact-informations {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  font-family: "Puritan";
}

.contact-informations img {
  float: left;
  width: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.telefone {
  margin-left: 75px;
  text-align: left;
}

.text {
  margin-left: 65px;
  text-align: left;
}

.email {
  margin-left: 75px;
  text-align: left;
} 

.github  {
  margin-right: 30px;
}

.linkedin {
  margin-right: 50px;
}

.value {
  width: 300px;
}

.habilidades {
  width: 200px;
  text-align: left;
}

.paises {
  width: 200px;
}

.horizontal-line {
  margin-top: 30px;
  margin-left: 30px;
  width: 91.02px;
  height: 0px;
  border: 1px solid;
}

.main-habilities {
  font-family: "Puritan";
  margin-left: 40px;
  margin-top: 20px;
}

.conteudo-principal {
  background-color: #fff;
  grid-area: conteudo-principal;
  color: #2b2741;
  text-align: left;
}

.name-author {
  font-family: "Poiret One", cursive;
  font-size: 80px;
  padding-top: 30px;
  margin-left: 105px;
}

.author-ocupation {
  font-family: "Poiret One";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.6;
  padding-top: 10px;
  margin-left: 105px;
}

.generic-title {
  font-family: "Puritan", cursive;
  font-size: 30px;
  padding-top: 30px;
  margin-left: 105px;
}

.informations {
  font-family: "Puritan", cursive;
  font-size: 15px;
  padding-top: 10px;
  margin-left: 105px;
  margin-right: 400px;
  text-align: justify;
}

.informations a {
  text-decoration: none;
}

.first-company-name {
  font-family: "Puritan", cursive;
  font-size: 20px;
  padding-top: 30px;
  margin-left: 105px;
}

.company-name {
  font-family: "Puritan", cursive;
  font-size: 20px;
  padding-top: 50px;
  margin-left: 105px;
}

.company-time {
  font-family: "Puritan";
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.6;
  margin-left: 105px;
}

.position {
  font-family: "Puritan";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-left: 105px;
  margin-top: 10px;
}

.position-time {
  font-family: "Puritan";
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.6;
  margin-left: 105px;
  margin-top: -10px;
}

.position-informations {
  font-family: "Puritan", cursive;
  font-size: 15px;
  margin-left: 105px;
  margin-right: 400px;
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .container {
  }
}

@media only screen and (max-width: 500px) {
  .container {
  }
}
